body{
background-color:  powderblue;

}

.classExample{
    background-color: red;
    font-family: 'Merienda', cursive;
}

img{
    width:35%;
    height: 300px;
}

h1{
    color:white;
    text-align: center;

}
p{text-align:center;
color: gray;
text-decoration:line-above;
font-family: 'Butterfly Kids', cursive;

ul{
    color:lightgrey;
    text-align: center;
}
li{
    color:darkgrey;
    text-align: center;
}
table{
    color:blueviolet;
}
form{
    color:darkkhaki;
    text-align: center;
    border-color: whitesmoke;
}
div{
    font-style: oblique;
}



links{
    color:navy;
}
a:hover {
  color: gray;
text-decoration: underline;
}
a:link {
  color: #FF0000;
}
a:active {
  color: #0000FF;
}